@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<p>Company: <strong>@ViewRes.About.Company</strong></p>
<p>Name: <strong>@ViewRes.About.Name</strong></p>
<p>Job title: <strong>@ViewRes.About.JobTitle</strong></p>
