@{
    ViewBag.Title = "Contact";
}

<style>
    .slide-contact {
        box-sizing: border-box;
        background: #fff;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-image: url(/Resources/Images/get-in-touch-wide.jpg);
        background-position: 90% 100%;
    }

    .slide-contact-container {
        height: 450px;
        background-color: #2a2a2a;
        opacity: 0.3;
    }

    .slide-contact h1 {
        position: absolute;
        /*left: 0;*/
        right: 3%;
        top: 15%;
        text-align: center;
        font-family: "Segoe UI";
        text-transform: uppercase;
        font-size: 8.5rem;
        color: #fff;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.3);
        margin-bottom: 0.5em;
        line-height: 100px;
        font-weight: 100;
        letter-spacing: 6px;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
    }

    .store-description i {
        background-color: #cb9a47;
        color: #fff;
        padding: 3px;
        width: 22px;
        height: 20px;
        text-align: center;
    }
</style>

<div class="slide-contact">
    <div class="slide-contact-container">
    </div>
    <h1>@ViewRes.Contact.Title</h1>
</div>

<div class="container">
    <div class="page-header">
        <h2>@ViewRes.Contact.PageHeader</h2>
    </div>
    <div class="row panel">
        <div class="panel-body">
            <div class="col-sm-5 col-md-2">
                <div class="thumbnail">
                    <img src="~/Resources/Images/radianna-gold-sofia.jpg"/>
                </div>
            </div>
            <div class="col-sm-7 col-md-10">
                <div class="row store-description">
                    <div class="col-xs-12">
                        <h4>@ViewRes.Contact.StoreCaption</h4>
                    </div>
                    <div class="col-md-6">
                        <p>
                            <i class="fa fa-map-marker"></i>
                            @ViewRes.Contact.StoreAddress / <a target="_blank" href="https://www.google.bg/maps/place/%D0%A1%D0%BA%D0%B0%D0%B9+%D0%A1%D0%B8%D1%82%D0%B8+%D0%9C%D0%BE%D0%BB/42.6799058,23.3666561,17z/data=!4m12!1m6!3m5!1s0x40aa85c2f052c8d1:0x649126937aee035!2z0KHQutCw0Lkg0KHQuNGC0Lgg0JzQvtC7!8m2!3d42.6798861!4d23.3676539!3m4!1s0x40aa85c2f052c8d1:0x649126937aee035!8m2!3d42.6798861!4d23.3676539">map</a>
                        </p>
                        <p>
                            <i class="fa fa-clock-o"></i>
                            @ViewRes.Contact.StoreWorkWeekHours <br/>
                            @ViewRes.Contact.StoreWeekendHours
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p>
                            <i class="fa fa-envelope-o"></i>
                            @ViewRes.Contact.StoreEmail
                        </p>
                        <p>
                            <i class="fa fa-phone"></i>
                            @ViewRes.Contact.StorePhone
                        </p>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-xs-12">
                        <p>
                            @ViewRes.Contact.StoreDescription
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="row panel">
        <div class="panel-body">
            <div class="col-sm-5 col-md-2">
                <div class="thumbnail">
                    <img src="~/Resources/Images/radianna-gold-sofia.jpg" />
                </div>
            </div>
            <div class="col-sm-7 col-md-10">
                <div class="row store-description">
                    <div class="col-xs-12">
                        <h4>@ViewRes.Contact.StoreCaption1</h4>
                    </div>
                    <div class="col-md-6">
                        <p>
                            <i class="fa fa-map-marker"></i>
                            @ViewRes.Contact.StoreAddress1 / <a href="https://www.google.bg/maps/place/%D0%9C%D0%9E%D0%9B+%D0%93%D0%90%D0%91%D0%A0%D0%9E%D0%92%D0%9E/42.8674281,25.317241,17z/data=!4m8!1m2!2m1!1z0LPRgC4g0JPQsNCx0YDQvtCy0L4g0LHRg9C7LiDQkNC_0YDQuNC70L7QsiA0MCDQnNCe0Jsg0JPQsNCx0YDQvtCy0L4!3m4!1s0x0:0x43512bd7f1fe8356!8m2!3d42.8674667!4d25.3174426" target="_blank">map</a>
                        </p>
                        <p>
                            <i class="fa fa-clock-o"></i>
                            @ViewRes.Contact.StoreWorkWeekHours1 <br />
                            @ViewRes.Contact.StoreWeekendHours1
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p>
                            <i class="fa fa-envelope-o"></i>
                            @ViewRes.Contact.StoreEmail1
                        </p>
                        <p>
                            <i class="fa fa-phone"></i>
                            @ViewRes.Contact.StorePhone1
                        </p>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-xs-12">
                        <p>
                            @ViewRes.Contact.StoreDescription1
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="row panel">
        <div class="panel-body">
            <div class="col-sm-5 col-md-2">
                <div class="thumbnail">
                    <img src="~/Resources/Images/radianna-gold-sofia.jpg" />
                </div>
            </div>
            <div class="col-sm-7 col-md-10">
                <div class="row store-description">
                    <div class="col-xs-12">
                        <h4>@ViewRes.Contact.StoreCaption2</h4>
                    </div>
                    <div class="col-md-6">
                        <p>
                            <i class="fa fa-map-marker"></i>
                            @ViewRes.Contact.StoreAddress2 / <a href="https://www.google.bg/maps/place/%D1%83%D0%BB.+%E2%80%9E%D0%9F%D0%B5%D1%82%D0%BA%D0%BE+%D0%9A%D0%B0%D1%80%D0%B0%D0%B2%D0%B5%D0%BB%D0%BE%D0%B2%E2%80%9C+19,+7000+%D0%A0%D1%83%D1%81%D0%B5/43.8499299,25.954611,19z/data=!3m1!4b1!4m5!3m4!1s0x40ae60cf4928778b:0x4f82c9a1f16844f0!8m2!3d43.8499299!4d25.9551582" target="_blank">map</a>
                        </p>
                        <p>
                            <i class="fa fa-clock-o"></i>
                            @ViewRes.Contact.StoreWorkWeekHours2 <br />
                            @ViewRes.Contact.StoreWeekendHours2
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p>
                            <i class="fa fa-envelope-o"></i>
                            @ViewRes.Contact.StoreEmail2
                        </p>
                        <p>
                            <i class="fa fa-phone"></i>
                            @ViewRes.Contact.StorePhone2
                        </p>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-xs-12">
                        <p>
                            @ViewRes.Contact.StoreDescription2
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <div class="row panel">
        <div class="panel-body">
            <div class="col-sm-5 col-md-2">
                <div class="thumbnail">
                    <img src="~/Resources/Images/radianna-gold-ruse-2.jpg" />
                </div>
            </div>
            <div class="col-sm-7 col-md-10">
                <div class="row store-description">
                    <div class="col-xs-12">
                        <h4>@ViewRes.Contact.StoreCaption3</h4>
                    </div>
                    <div class="col-md-6">
                        <p>
                            <i class="fa fa-map-marker"></i>
                            @ViewRes.Contact.StoreAddress3 / <a href="https://www.google.bg/maps/place/%D1%83%D0%BB.+%E2%80%9E%D0%90%D0%BB%D0%B5%D0%BA%D1%81%D0%B0%D0%BD%D0%B4%D1%80%D0%BE%D0%B2%D1%81%D0%BA%D0%B0%E2%80%9C+62,+7000+%D0%A0%D1%83%D1%81%D0%B5/43.8508914,25.9553449,20z/data=!4m5!3m4!1s0x40ae60cf25b874f9:0x8c8053043730201f!8m2!3d43.8509021!4d25.9556835" target="_blank">map</a>
                        </p>
                        <p>
                            <i class="fa fa-clock-o"></i>
                            @ViewRes.Contact.StoreWorkWeekHours3 <br />
                            @ViewRes.Contact.StoreWeekendHours3
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p>
                            <i class="fa fa-envelope-o"></i>
                            @ViewRes.Contact.StoreEmail3
                        </p>
                        <p>
                            <i class="fa fa-phone"></i>
                            @ViewRes.Contact.StorePhone3
                        </p>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-xs-12">
                        <p>
                            @ViewRes.Contact.StoreDescription3
                        </p>
                    </div>
                </div>
            </div>  
        </div>
    </div>
    

    <div class="row panel">
        <div class="panel-body">
            <div class="col-sm-5 col-md-2">
                <div class="thumbnail">
                    <img src="~/Resources/Images/radianna-gold-ruse-2.jpg" />
                </div>
            </div>
            <div class="col-sm-7 col-md-10">
                <div class="row store-description">
                    <div class="col-xs-12">
                        <h4>@ViewRes.Contact.StoreCaption4</h4>
                    </div>
                    <div class="col-md-6">
                        <p>
                            <i class="fa fa-map-marker"></i>
                            @ViewRes.Contact.StoreAddress4 / <a href="https://www.google.bg/maps/place/%D0%9C%D0%9E%D0%9B+%D0%A0%D0%A3%D0%A1%D0%95/43.8525846,25.9886782,17z/data=!3m1!4b1!4m5!3m4!1s0x40ae67549bf11301:0x6d4c998ba4a501b1!8m2!3d43.8525846!4d25.9908669" target="_blank">map</a>
                        </p>
                        <p>
                            <i class="fa fa-clock-o"></i>
                            @ViewRes.Contact.StoreWorkWeekHours4 <br />
                            @ViewRes.Contact.StoreWeekendHours4
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p>
                            <i class="fa fa-envelope-o"></i>
                            @ViewRes.Contact.StoreEmail4
                        </p>
                        <p>
                            <i class="fa fa-phone"></i>
                            @ViewRes.Contact.StorePhone4
                        </p>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-xs-12">
                        <p>
                            @ViewRes.Contact.StoreDescription4
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div>
            
        </div>
    </div>
</div>